@model WebBanDongHo.Models.Categories
@{
    ViewData["Title"] = "SuaLoaiSanPham";
}
<br />

<h2 class="text-info">Sửa loại sản phẩm</h2>
<form asp-action="Edit" method="post">
    <div class="p-4 rounded border">
        @* hiển thị lỗi *@
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row" style="padding:10px">
            <div class="col-2">
                <label asp-for="name">Tên</label>
            </div>
            <div class="col-5">
                <input asp-for="name" class="form-control" />
            </div>
            <div class="col-5 d-flex align-items-center">
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row" style="padding:10px">
            <div class="col-2">
                <label asp-for="note">Ghi chú</label>
            </div>
            <div class="col-5">
                <input asp-for="note" class="form-control"/>
            </div>

        </div>

        <div class="form-group" style="padding:10px">
            <input type="submit" class="btn btn-outline-warning" value="Xác nhận sửa" style="margin-right:5px;" />
            <a asp-action="Index" class="btn btn-outline-success">Quay lại</a>
        </div>
    </div>
</form>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
