@page
@model LockoutModel
@{
    ViewData["Title"] = "TaiKhoanBiKhoa";
}

<header>
    <h1 class="text-danger">Tài khoản bị khóa</h1>
    <p class="text-danger">Tài khoản người dùng này đã bị khóa, vui lòng thử lại sau!</p>
</header>
