@page
@model LoginModel

@{
    ViewData["Title"] = "DangNhap";
    Layout = "~/Areas/Identity/Pages/_IdentityUserLayout.cshtml";
}

@* <h1>@ViewData["Title"]</h1> *@
<div class="col-md-10 offset-md-1">
    <section>
        @*<div class="login-form-icon">
        <i class="fas fa-user-circle fa-5x text-secondary"></i>
        </div>*@
        @*fas fa-user-circle fa-9x text-secondary*@
        <form id="account" method="post">
            
            <div class="form-group">
                <label class="mb-3">UserName</label>
                <input asp-for="Input.UserName" class="form-control" />
                <span asp-validation-for="Input.UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="mb-3" asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label asp-for="Input.RememberMe">
                        <input asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
            </div>
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <button type="submit" class="btn btn-outline-primary form-control">
                    Đăng nhập
                </button>
            </div>
        </form>
    </section>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
